@using Recaptcha.Models.Recaptcha;
@{
    var recaptcha = new ReCaptcha();
    var googleSiteKey = recaptcha.SiteKey;
    var googleScriptUrl = recaptcha.ScriptUrl;
}

<h2>Index</h2>

<div class="g-recaptcha" data-sitekey="@googleSiteKey"></div>

<button id="buttonPostback">Postback</button>

<script src='@googleScriptUrl'></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#buttonPostback').click(
            function () {
                $.post(
                    "api/captchaverify",
                    { Response: document.querySelector('#g-recaptcha-response').value },
                    function (data, status) {
                        console.log(status);
                        console.log(data);
                        if (status === 'success') {
                            if (data.Success === true) {
                                $('div.g-recaptcha').attr('data-sitekey', '')
                                $('div.g-recaptcha').html('Successfully passed recaptcha!!')
                            }
                        }
                    }
                );
            });
    });

</script>
